In [1]:
import sqlite3

In [2]:
con=sqlite3.connect("E:/rkm/student_course_db")

In [3]:
cur=con.cursor()

In [4]:
cur.execute("create table course(course_id int primary key, course_name text, duration int) ")

In [5]:
cur.execute("create table student(roll_no int primary key,student_name text, age int, course_id int, foreign key (course_id) references course(corse_id))")

In [10]:
cur.execute("insert into course values(101,'data_science',3),(102,'comp sc',6),(103,'machine learning',12)")
print(cur.rowcount,"records inserted")
con.commit()

3 records inserted

In [13]:
cur.execute("insert into student values(1,'rama', 23, 101),(2,'bhima',45,101),(3,'ritu',34,102),(4,'suraj',22,103)")
print(cur.rowcount,"records inserted")
con.commit()

4 records inserted

In [14]:
result=cur.execute("select* from student")
result.fetchall()

[(1, 'rama', 23, 101),
 (2, 'bhima', 45, 101),
 (3, 'ritu', 34, 102),
 (4, 'suraj', 22, 103)]

In [18]:
result=cur.execute("select*from course")
result.fetchall()

[(101, 'data_science', 3), (102, 'comp sc', 6), (103, 'machine learning', 12)]

In [20]:
result=cur.execute('select course_id from course where course_name = "data_science"')

In [21]:
result.fetchall()

[(101,)]

In [23]:
result=cur.execute('select * from student where course_id=(select course_id from course where course_name = "data_science")')
result.fetchall()

[(1, 'rama', 23, 101), (2, 'bhima', 45, 101)]

# joining table

In [24]:
result=cur.execute("select student.roll_no,student.student_name,course.course_name,course.course_id from student INNER JOIN course ON student.course_id=course.course_id")
result.fetchall()

[(1, 'rama', 'data_science', 101),
 (2, 'bhima', 'data_science', 101),
 (3, 'ritu', 'comp sc', 102),
 (4, 'suraj', 'machine learning', 103)]

In [25]:
result=cur.execute("select student.roll_no,student.student_name,course.course_name,course.course_id from student LEFT JOIN course ON student.course_id=course.course_id")
result.fetchall()

[(1, 'rama', 'data_science', 101),
 (2, 'bhima', 'data_science', 101),
 (3, 'ritu', 'comp sc', 102),
 (4, 'suraj', 'machine learning', 103)]

In [29]:
result=cur.execute("select student.roll_no,student.student_name,course.course_name,course.course_id from course LEFT JOIN student ON student.course_id=course.course_id")
for i in result:
    print(i)

(1, 'rama', 'data_science', 101)
(2, 'bhima', 'data_science', 101)
(3, 'ritu', 'comp sc', 102)
(4, 'suraj', 'machine learning', 103)